@charset "utf-8";

/**
*
* ----------------------------------------------------------
*
* Template : CodeShaper - Responsive React Template
* Author : #
* Author URI : #
*
* ----------------------------------------------------------
*
**/

/* Table Of Content
---------------------------------------------------------
01. General CSS
02. Global Design CSS
03. Header Part CSS
04. Banner Part CSS
05. Experience Part CSS
06. Client Part CSS
07. About Part CSS
08. Service Part CSS
09. Case Study Part CSS
10. Testimonial Part CSS
11. CTA Part CSS
12. Counter Part CSS
13. Faq Part CSS
14. Tab Part CSS
15. Footer Part CSS
16. Scroll to Top Part CSS
--------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Jost:wght@300;400;500;600;700;800;900&display=swap");

:root {
    /* Color */
    --body-color: #726f84;
    --title-color: #0f0d1d;
    --primary-color: #3c72fc;
    --primary-dark-color: #194ed6;
    --primary-ligt-color: #36c1ea;
    --secondary-color: #06050c;
    --white-color: #ffffff;
    --orange-color: #ff884e;
    --yellow-color: #fdbc0d;

    /* Typography */
    --body-font: "Jost", sans-serif;
    --title-font: "Jost", sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition: 0.3s;
    --footer-text-color: #b5b5b5;
}

/* -----------------------------------
    01. General CSS
-------------------------------------*/
html,
body {
    font-size: 18px;
    color: var(--body-color);
    font-family: var(--body-font);
    vertical-align: baseline;
    line-height: 32px;
    font-weight: var(--font-weight-normal);
    background: var(--white-color);
    overflow-x: hidden;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
    vertical-align: middle;
    border-style: none;
}

[type="submit"] {
    cursor: pointer;
}

p {
    font-family: inherit;
    color: var(--body-color);
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 32px;
    font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--title-color);
    margin: 0 0 26px;
    font-weight: 600;
}

h1 {
    font-size: 42px;
    line-height: 56px;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 36px;
    line-height: 50px;
    font-weight: var(--font-weight-normal);
}

h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: var(--font-weight-medium);
}

h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--font-weight-semi-bold);
}

h5 {
    font-size: 18px;
    line-height: 28px;
    font-weight: var(--font-weight-medium);
}

h6 {
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--font-weight-semi-bold);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--title-color);
    transition: var(--transition);
    outline: none !important;
    text-decoration: none;
    cursor: pointer;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: var(--primary-color);
}


::-moz-selection {
    background: var(--primary-color);
    text-shadow: none;
    color: #ffffff;
}

::selection {
    background: var(--primary-color);
    text-shadow: none;
    color: #ffffff;
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-75 {
    padding-bottom: 75px !important;
}

.pb-85 {
    padding-bottom: 85px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-150 {
    padding-bottom: 150px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.primary-color {
    color: var(--primary-color);
}
.title-color {
    color: var(--title-color);
}
.white-color {
    color: var(--white-color);
}
.relative {
    position: relative;
}
.text-center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}

// Modal Video CSS
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: modal-video;
  -moz-animation-name: modal-video;
  animation-name: modal-video;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  .modal-video-body {
      max-width: 960px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0 10px;
      display: table;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .modal-video-inner {
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          height: 100%;
          .modal-video-movie-wrap {
              width: 100%;
              height: 0;
              position: relative;
              padding-bottom: 56.25%;
              background-color: #333;
              -webkit-animation-timing-function: ease-out;
              -moz-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
              -webkit-animation-duration: .3s;
              -moz-animation-duration: .3s;
              animation-duration: .3s;
              -webkit-animation-name: modal-video-inner;
              -moz-animation-name: modal-video-inner;
              animation-name: modal-video-inner;
              -webkit-transform: translate(0);
              -moz-transform: translate(0);
              transform: translate(0);
              -webkit-transition: -webkit-transform .3s ease-out;
              -moz-transition: -moz-transform .3s ease-out;
              transition: -webkit-transform .3s ease-out;
              -moz-transition: transform .3s ease-out,-moz-transform .3s ease-out;
              transition: transform .3s ease-out;
              transition: transform .3s ease-out,-webkit-transform .3s ease-out,-moz-transform .3s ease-out;
              iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
              }
              .modal-video-close-btn {
                  position: absolute;
                  z-index: 2;
                  top: -45px;
                  right: 0;
                  display: inline-block;
                  width: 35px;
                  height: 35px;
                  overflow: hidden;
                  border: none;
                  background: transparent;
                  cursor: pointer;
                  &:before,
                  &:after {
                      content: "";
                      position: absolute;
                      height: 2px;
                      width: 100%;
                      top: 50%;
                      left: 0;
                      background: #fff;
                      -webkit-border-radius: 5px;
                      border-radius: 5px;
                      margin-top: -6px;
                  }
                  &:before {
                      -webkit-transform: rotate(45deg);
                      -moz-transform: rotate(45deg);
                      transform: rotate(45deg);
                  }
                  &:after {
                      -webkit-transform: rotate(-45deg);
                      -moz-transform: rotate(-45deg);
                      transform: rotate(-45deg);
                  }
              }
          } 
      }
  }
}

/* -----------------------------------
    02. Global Design CSS
-------------------------------------*/
.cs-container {
    width: 100%;
    max-width: 1460px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.sec-title {
    .title {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .desc {
        font-size: 18px;
        margin-bottom: 0;
    }
}
.btn {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 45px;
    text-transform: uppercase;
    color: var(--white-color);
    background: var(--primary-color);
    &:hover {
        color: var(--white-color);
        background: var(--primary-dark-color);
    }
}

/*Video Icon CSS*/
.cs-vid-icon {
    display: inline-block;
    padding: 0;
    height: 125px;
    width: 125px;
    text-align: center;
    background: var(--primary-color);
    position: absolute;
    top: 60px;
    left: 0;
    i {
        line-height: 125px;
        font-size: 24px;
        font-weight: 900;
        color: var(--white-color);
        margin-left: 3px;
    }
}

/*Arrow Part CSS*/
.slick-arrow {
    overflow: hidden;
    cursor: pointer;
    outline: none !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    background-color: #192041;
    color: var(--white-color);
    transition: var(--transition);
    opacity: 1;
    &:hover {
        border-color: var(--primary-color);
    }
    &:before {
        font-family: "IcoFont";
        font-size: 22px;
        line-height: 48px;
        display: inline-block;
    }
}
.slick-prev {
    left: -90px;
    &:before {
        transition: 0.3s;
        content: "\ea93";
    }
}
.slick-next {
    right: -30px;
    &:before {
        content: "\ea94";
    }
}

/* -----------------------------------
    03. Header Part CSS
-------------------------------------*/
.cs-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    .cs-container {
        margin: 0;
    }
    .menu-bar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #fff;
        .logo-part {
            float: left;
            margin-left: 25px;
            min-width: 200px;
            img {
                max-width: 100%;
            }
        }
        .contact-part {
            float: right;
            margin-right: 25px;
            min-width: 200px;
            span {
                display: block;
                color: var(--white-color);
            }
            a {
                color: var(--white-color);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
        .menu-part {
            float: left;
            width: 100%;
            padding: 0 10px;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            box-sizing: border-box;
            .cs-main-menu {
                .nav-menu {
                    float: left;
                    li {
                        display: inline-block;
                        position: relative;
                        margin-left: 30px;
                        height: 150px;
                        line-height: 150px;
                        a {
                            display: block;
                            text-transform: uppercase;
                            color: var(--white-color);
                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                        .sub-menu {
                            display: block !important;
                            position: absolute;
                            top: 100%;
                            z-index: 9;
                            background: #fff;
                            box-shadow: 0 15px 40px rgba(255, 255, 255, 0.24);
                            padding: 15px 0;
                            left: 0;
                            border-radius: 4px;
                            margin-left: 0;
                            min-width: 250px;
                            transform: translateY(15px);
                            opacity: 0;
                            visibility: hidden;
                            transition: var(--transition);
                            li {
                                display: block;
                                height: 50px;
                                line-height: 50px;
                                margin-left: 25px;
                                a {
                                    color: var(--title-color);
                                    &:hover {
                                        color: var(--primary-color);
                                    }
                                }
                            }
                        }
                        &.menu-item-has-children {
                            > a {
                                padding-right: 15px;
                                &:before {
                                    content: '\eab2';
                                    font-family: 'IcoFont';
                                    position: absolute;
                                    right: -5px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }                            
                        }
                        &:hover {
                            .sub-menu {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0px);
                            }
                        }

                    }
                }
                .social-part {
                    float: right;
                    .social-icon {
                        float: left;
                        li {
                            display: inline-block;
                            margin-right: 25px;
                            height: 150px;
                            line-height: 150px;
                            a {
                                color: var(--white-color);
                                &:hover {
                                    color: var(--primary-color);
                                }
                            }
                        }
                    }
                    .searchbar {
                        float: right;
                        padding: 0 20px 0 30px;
                        border-left: 1px solid #fff;
                        a {
                            display: inline-block;
                            height: 150px;
                            line-height: 150px;
                            color: var(--white-color);
                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    } 

    .mobile-menu-part {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        .mobile-menu-icon {
            position: relative;
            width: 30px;
            height: 18px;
            transform: rotate(0deg) translateY(-50%);
            transition: 0.5s ease-in-out;
            cursor: pointer;
            padding: 0;
            margin-top: 15px;
            border: 0 !important;
            background: transparent !important;
            outline: none !important;
            z-index: 10;

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: #fff;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 9px;
                }
                &:nth-child(3) {
                    top: 18px;
                }
            }
            &.open{
                 span {
                    &:nth-child(1) {
                        top: 9px;
                        transform: rotate(135deg);
                    }
                    &:nth-child(3) {
                        top: 9px;
                        transform: rotate(-135deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        left: -60px;
                    }
                }
            }
        }        
    }   
}

/* -----------------------------------
    04. Banner Part CSS
-------------------------------------*/
.cs-banner {
    .slider-part {
        .single-slide {
            position: relative;
            padding: 285px 0 260px;
            background: url('../img/slider/1.png');
            background-size: cover;
            background-position: center center;
            .cs-slide-content {
                .cs-slide-sub-heading {
                    padding: 15px 20px;
                    font-size: 20px;
                    line-height: 1;
                    color: var(--white-color);
                    background: rgba(67, 75, 77, 0.74);
                }
                .cs-slide-heading {
                    font-size: 90px;
                    line-height: 100px;
                    color: var(--white-color);
                    margin: 70px 0 50px;
                }
            }
        }
    }
}

/* -----------------------------------
    05. Experience Part CSS
-------------------------------------*/
.cs-experience {
    padding: 125px 0 150px;
    background: url('../img/bg/experience-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .experience-part {
        display: flex;
        justify-content: space-around;
        .single-experience {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-right: 30px;
            padding: 75px 50px 90px 50px;
            background: #000000;
            .content-part {
                margin-right: 30px;
                .title {
                    font-size: 24px;
                    margin-bottom: 15px;
                    color: var(--white-color);
                }
                .btn-part {
                    padding: 0;
                    box-shadow: none;
                    font-size: 12px;
                    text-transform: uppercase;
                    position: relative;
                    color: var(--white-color);
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        height: 1px;
                        width: 15px;
                        background: var(--white-color);
                        transition: var(--transition);
                    }
                    &:hover {
                        color: var(--primary-color);
                        &:before {
                            width: 100%;
                            background: var(--primary-color);
                        }
                    }
                }
            }
            .img-part {
                display: flex;
                align-items: end;
                margin-bottom: -45px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* -----------------------------------
    06. Client Part CSS
-------------------------------------*/
.client-part {
    border-top: 1px solid #211f2d;
    padding-top: 100px;
    position: relative;
    .client-title {
        font-size: 16px;
        background: #0f0d1d;
        color: var(--white-color);
        text-transform: uppercase;
        padding: 0 10px;
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%)
    }
    .client-list {
        padding: 0 90px;
        padding-right: 30px;
        .single-client {
            text-align: center;
        }
    }
}

/* -----------------------------------
    07. About Part CSS
-------------------------------------*/
.cs-about {
    padding: 120px 0 235px;
    .about-top-part {
        display: flex;
        .img-part {
            width: 100%;
            position: relative;
            margin-right: 70px;
            z-index: 1;
        }
        .content-part {
            position: relative;
            margin-top: 50px;
            .about-text {
                margin-bottom: 70px;
                .title {
                    font-size: 50px;
                    margin-bottom: 40px;
                }
                .txt {
                    font-size: 26px;
                    color: var(--primary-color);
                }
            }
            .skill-part {
                .progress-part {
                    margin-bottom: 10px;
                    .progress-bar {
                        width: 100%;
                        background: #e9ecef;
                        border-radius: 10px;
                        .progress-main {
                            height: 18px;
                            border-radius: 10px;
                            background: var(--primary-color);
                        }
                    }
                    .progress-content {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        .percent-label {

                        }
                        .title {
                            color: var(--title-color);
                            text-transform: uppercase;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .contact-part {
                display: flex;
                align-items: center;
                text-align: center;
                margin-top: 60px;
                .icon-part {
                    width: 65px;
                    height: 65px;
                    line-height: 65px;
                    background: #ebf1ff;
                    margin-right: 20px;
                }
                .text-part {
                    text-align: left;
                    span {
                        display: block;
                    }
                    a {

                    }
                }
            }
        }
    }
    .rotate-text {
        transform: rotate(90deg);
        line-height: 1;
        position: absolute;
        top: 40%;
        right: -125px;
        .rotate-title {
            font-size: 123px;
            letter-spacing: 10px;
            color: #f2f4f8;
        }
    }
}

/* -----------------------------------
    08. Service Part CSS
-------------------------------------*/
.service-part {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -125px;
    .single-service {
        display: flex;
        padding: 75px 90px;
        background: var(--white-color);
        box-shadow: 10px 0 69px rgba(0, 0, 0, 0.16);
        .list-number {
            width: 100%;
            max-width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            background: #ebf1ff;
            margin-right: 20px;
            .list-title {
                font-size: 24px;
                text-transform: uppercase;
                color: var(--primary-color);
            }
        }
        .service-content {
            .title {
                line-height: 1.3;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

/* -----------------------------------
    09. Case Study Part CSS
-------------------------------------*/
.cs-case-study {
    background: #f2f4f8;
    padding: 0 0 130px;
    .case-study-part {
        display: flex;
        justify-content: space-around;
        .single-case-study {
            width: 100%;
            position: relative;
            margin-right: 30px;
            .img-part {
                position: relative;
                img {
                    opacity: 0.7;
                    width: 100%;
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: rgba(15, 13, 29, 0.42);
                    z-index: 1;
                }
            }
            .content-part {
                position: absolute;
                bottom: 0;
                width: 85%;
                padding: 50px 65px;
                z-index: 9;
                transition: var(--transition);
                box-sizing: border-box;
                img {
                    display: block;
                    margin-bottom: 15px;
                }
                .subtitle {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: var(--white-color);
                }
                .title {
                    font-size: 30px;
                    text-transform: uppercase;
                    color: var(--white-color);
                    margin-bottom: 0;
                }
            }
            &:hover {
                .content-part {
                    background: var(--primary-color);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* -----------------------------------
    10. Testimonial Part CSS
-------------------------------------*/
.cs-testimonial {
    padding: 100px 0 150px;
    background: #f2f4f8;
    .slick-list {
        margin: -10px -15px -30px;
        padding: 10px 0 30px;
        .slick-slide {
          > div {
            margin: 0 15px;
          }            
        }
    }
    .slick-arrow {
        top: 70%;
        transform: unset;
        color: #000;
        background: #fff;
        border-radius: 100%;
        &:before {
          color: #000;
        }
        &:hover {
          &:before {
            color: var(--primary-color);
          }
        }
    }
    .slick-prev {
        left: -480px;
    }
    .slick-next {
        left: -415px;
    }
    .testimonial-divider {
        display: flex;
        .left-part {
            margin-right: 50px;
        }
        .right-part {
            width: 100%;
            max-width: 925px;
        }
    }
    .sec-title {
        .title {
            font-size: 65px;
            line-height: 75px;
        }
    }
    .cs-testimonial-slider {
        .single-testimonial {
            padding: 40px 30px 80px;
            background: var(--white-color);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
            .testi-info {
                .testi-name {
                    margin: 0;
                    text-transform: uppercase;
                }
                .testi-designation {
                    margin: 0;
                }
            }
            .testi-photo {
                position: absolute;
                bottom: -30px;
            }
        }
    }
}

/* -----------------------------------
    11. CTA Part CSS
-------------------------------------*/
.cs-cta {
    padding: 110px 0 100px;
    background-image: url('../img/bg/cta-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .cta-part {
        text-align: center;
        .title {
            font-size: 60px;
            line-height: 70px;
            text-transform: uppercase;
            margin-bottom: 35px;
            color: var(--white-color);
        }
    }
}

/* -----------------------------------
    12. Counter Part CSS
-------------------------------------*/
.cs-counter {
    padding: 100px 0 240px;
    background: url('../img/bg/counter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .counter-part {
        display: flex;
        justify-content: space-around;
        .single-counter {
            width: 100%;
            margin-right: 30px;
            border-right: 1px solid #fff;
            .counter-icon {
                display: inline-block;
                padding: 25px 20px;
                text-align: center;
                background: #06050c;
                margin-bottom: 20px;
                img {

                }
            }
            .counter-content {
                span {
                    display: block;
                }
                .counter-number {
                    font-size: 40px;
                }
                .counter-title {
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
            &:last-child {
                margin-right: 0;
                border-right: unset;
            }
        }
    }
}

/* -----------------------------------
    13. Faq Part CSS
-------------------------------------*/
.cs-faq {
    padding: 120px 0;
    .faq-section-part {
        display: flex;
        justify-content: space-around;
        .faq-part {
            width: 100%;
            max-width: 720px;
            margin-right: 25px;
            .card {
                margin-bottom: 25px;
                border-radius: unset;
                border: none;
                background: unset;
                .card-header {
                    padding: 0;
                    border: none;
                    .btn {
                        width: 100%;
                        height: 80px;
                        line-height: 80px;
                        text-align: left;
                        padding: 0 25px;
                        font-size: 16px;
                        text-decoration: none;
                        background: #fff;
                        border-color: #e6e9ef;
                        border-bottom: none;
                        border-radius: unset;
                        color: var(--title-color);
                        position: relative;
                        span {
                            color: var(--primary-color);
                            font-size: 20px;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            right: 30px;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 2px;
                            width: 12px;
                            font-size: 25px;
                            background: var(--title-color);
                        }
                        &.collapsed {
                            background: #f2f4f8;
                            border: 1px solid transparent;
                            border-bottom: none;
                            border-radius: unset;
                            height: 90px;
                            line-height: 90px;
                            &:before {
                                content: '+';
                                height: unset;
                                width: unset;
                                background: unset;
                            }
                        }
                    }
                }
                .collapse {
                    border: 1px solid transparent;
                    border-top: none;
                    .card-body {
                        padding-top: 0;
                        margin-top: -10px;
                    }
                    &.show {
                        border-color: #e6e9ef;
                    }
                }
            }
        }
        .faq-content-part {
            width: 100%;
            .img-part {
                img {
                    
                }
            }
            .content-part {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                align-items: center;
                .list-part {
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
                        i {
                            font-size: 30px;
                            margin-right: 5px;
                            color: var(--primary-color);
                        }
                    }
                }
                .experience-year {
                    padding: 33px 60px 18px;
                    text-align: center;
                    background: var(--primary-color);
                    color: var(--white-color);
                    display: grid;
                    align-items: center;
                    margin-left: 60px;
                    span {
                        font-size: 70px;
                        line-height: 70px;
                    }
                }
            }
        }
    }
}

/* -----------------------------------
    14. Tab Part CSS
-------------------------------------*/
.cs-business-tab {
    .cs-tab-part {
        .cs-business-nav {
            display: flex;
            border: none;
            margin-top: -88px;
            .nav-item {
                width: 33.33%;
                box-shadow: 10px 0 70px 0 rgba(0, 0, 0, 0.16);
                a {
                    padding: 70px;
                    border: none;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    font-size: 20px;
                    text-transform: uppercase;
                    border-radius: unset;
                    background: var(--white-color);
                    &.active,
                    &:hover {
                        color: var(--primary-color);
                    }
                }
                &:last-child {

                }
            }
        }
        .cs-business-content {
            .single-tab-area {
                .content-area {
                    display: flex;
                    .content-service {
                        width: 100%;
                        margin-right: 25px;
                        padding: 70px 40px 50px 0;
                        border-right: 1px solid #f2f3f6;
                        .single-content-service {
                            margin-bottom: 30px;
                            display: flex;
                            .icon-part {
                                width: 100%;
                                max-width: 70px;
                                height: 70px;
                                line-height: 70px;
                                text-align: center;
                                background: #ebf1ff;
                                margin-right: 20px;
                                img {
                                    margin-left: 10px;
                                }
                            }
                            .text-part {
                                .title {
                                    font-size: 20px;
                                    font-weight: normal;
                                    margin-bottom: 5px;
                                }
                                .desc {

                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .content-text {
                        margin-right: 25px;
                        padding: 70px 0 50px;                        
                        .desc {
                            margin-bottom: 50px;
                        }
                        .list {
                            li {
                                position: relative;
                                padding-left: 40px;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    height: 2px;
                                    width: 20px;
                                    background: var(--primary-color);
                                }
                            }
                        }
                    }
                    .content-img {
                        width: 100%;
                        img {

                        }
                    }
                }
            }
        }
    }
}

/* -----------------------------------
    15. Footer Part CSS
-------------------------------------*/
.cs-footer {
    padding: 100px 0;
    background: url('../img/bg/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .cs-footer-widget {
        display: flex;
        justify-content: space-around;
        .single-widget {
            padding-right: 30px;
            .cs-footer-logo {
                margin-bottom: 50px;
            }
            .cs-widget-title {
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 50px;
                color: var(--white-color);
            }
            .cs-footer-desc {
                color: #8f8da0;
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid #fff;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        .cs-widget-address {
            max-width: 30%;
            .cs-footer-address {
                .single-contact {
                    margin-bottom: 10px;
                    span {
                        float: left;
                        margin-right: 15px;
                    }
                    a {
                        color: #8f8da0;
                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                    p {
                        margin-bottom: 0;
                    }
                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .cs-widget-links {
            ul {
                float: left;
                margin-right: 50px;
                li {
                    a {
                        color: #8f8da0;
                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .cs-widget-newsletter {
            .newsletter-part {
                padding: 50px 65px;
                background: var(--secondary-color);
                .newsletter-text {
                    line-height: 1;
                }
                .newsletter-subscribe {
                    position: relative;
                    input[type="email"] {
                        position: relative;
                        font-size: 16px;
                        height: 65px;
                        padding: 0 20px;
                        padding-right: 120px;
                        width: 465px;
                        box-sizing: border-box;
                    }
                    button {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 100px;
                        height: 45px;
                        line-height: 45px;
                        border: none;
                        outline: none;
                        padding: 0;
                        background-color: var(--primary-color);
                        color: var(--white-color);
                    }
                }
            }
        }
    }
    .cs-copyright {
        margin-top: 115px;
        padding-top: 50px;
        border-top: 1px solid #fff;
        .copyright-text {
            float: left;
            margin-bottom: 0;
            a {
                color: var(--white-color);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
        .cs-social-profile {
            float: right;
            li {
                float: left;
                margin-right: 25px;
                a {
                    color: var(--white-color);
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}

/* -----------------------------------
    16. Scroll to Top Part CSS
-------------------------------------*/
#toTop {
    text-align: center;
    bottom: 50px;
    cursor: pointer;
    position: fixed;
    right: 40px;
    z-index: 999;
    font-size: 18px;
    color: var(--white-color);
    background: var(--title-color);
    height: 48px;
    width: 48px;
    line-height: 48px;
    border-radius: 50%;
    transition: var(--transition);
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.18);
    i {
        display: inline-block;
    }
    &:hover {
        background-color: var(--primary-color);
    }
}


