@charset "utf-8";

/**
 *
 * ----------------------------------------------------------
 *
 * Template : CodeShaper - Responsive React Template
 * Author : #
 * Author URI : #
 *
 * ----------------------------------------------------------
 *
 **/
/* Layout: Max 1600px */
@media only screen and (max-width: 1600px) {
    .cs-container {
        max-width: 1460px;
    }
}

/* Layout: Max 1500px */
@media only screen and (max-width: 1500px) {
    .cs-container {
        max-width: 1410px;
    }

    .cs-testimonial .slick-prev {
        left: -450px;
    }

    .cs-testimonial .slick-next {
        left: -380px;
    }

    /*Footer Part CSS*/
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part .newsletter-subscribe input[type="email"] {
        width: 425px;
    }
}

/* Layout: Max 1440px */
@media only screen and (max-width: 1440px) {
    .cs-container {
        max-width: 1310px;
    }

    /*Banner Part CSS*/
    .cs-banner .slider-part .single-slide{
        padding: 250px 0 200px;
    }
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-heading {
        font-size: 70px;
        line-height: 80px;
        margin: 50px 0 40px;
    }

    /*About Part CSS*/
    .cs-about .about-top-part .img-part img {
        max-width: 500px;
    }

    /*Testimonial Part CSS*/
    .cs-testimonial .sec-title .title {
        font-size: 55px;
        line-height: 65px;
    }
    .cs-testimonial .testimonial-divider .right-part {
        max-width: 750px;
    }
    .cs-testimonial .slick-arrow {
        top: 60%;
    }
    .cs-testimonial .slick-prev {
        left: -430px;
    }
    .cs-testimonial .slick-next {
        left: -370px;
    }

    /*Footer Part CSS*/
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part .newsletter-subscribe input[type="email"] {
        width: 400px;
    }
}

/* Layout: Max 1366px. */
@media only screen and (max-width: 1366px) {
    .cs-container {
        max-width: 1210px;
    }

    /*Header Part CSS*/
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li {
        margin-left: 20px;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .social-part .social-icon li {
        margin-right: 15px;
    }

    /*Banner Part CSS*/
    .cs-banner .slider-part .single-slide{
        padding: 250px 0 200px;
    }
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-heading {
        font-size: 65px;
        line-height: 75px;
    }

    /*Testimonial Part CSS*/
    .cs-testimonial .sec-title .title {
        font-size: 55px;
        line-height: 65px;
    }
    .cs-testimonial .testimonial-divider .right-part {
        max-width: 750px;
    }
    .cs-testimonial .slick-arrow {
        top: 60%;
    }
    .cs-testimonial .slick-prev {
        left: -360px;
    }
    .cs-testimonial .slick-next {
        left: -300px;
    }

    /*Footer Part CSS*/
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part .newsletter-subscribe input[type="email"] {
        width: 350px;
    }
}

/* Layout: Max 1300px */
@media only screen and (max-width: 1300px) {    
    .cs-container {
        max-width: 1110px;
    }

    /*Header Part CSS*/
    .cs-header .menu-bar .menu-part .cs-main-menu .social-part .searchbar {
        padding: 0 15px;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li {
        margin-left: 12px;
    }

    /*Testimonial Part CSS*/
    .cs-testimonial .slick-arrow {
        display: none;
    }
    .cs-testimonial .sec-title .title {
        font-size: 40px;
        line-height: 50px;
    }

    /*Footer Part CSS*/
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part {
        padding: 50px 40px;
    }
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part .newsletter-subscribe input[type="email"] {
        width: 100%;
        max-width: 350px;
    }
}

/* Layout: Min 1199px */
@media only screen and (max-width: 1199px) {    
    .cs-container {
        max-width: 960px;
    }

    /*Header Part CSS*/
    .cs-header .menu-bar .menu-part {
        padding: 0;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .social-part,
    .cs-header .menu-bar .menu-part .cs-main-menu .social-part .searchbar {
        display: none;
    }

    /*About Part CSS*/
    .cs-about .about-top-part .img-part {
        margin-right: 40px;
    }
    .cs-about .about-top-part .img-part img {
        max-width: 400px;
    }
    .cs-about .about-top-part .content-part {
        margin-top: 0;
    }

    /*Service Part CSS*/
    .service-part .single-service {
        padding: 50px;
    }

    /*Case Study Part CSS*/
    .cs-case-study .case-study-part .single-case-study .content-part {
        padding: 30px;
    }
    .cs-case-study .case-study-part .single-case-study .content-part .title {
        font-size: 25px;
    }

    /*CTA Part CSS*/
    .cs-cta .cta-part .title {
        font-size: 50px;
        line-height: 60px;
    }

    /*Faq Part CSS*/
    .cs-faq .faq-section-part .faq-content-part .content-part {
        display: block;
    }
    .cs-faq .faq-section-part .faq-content-part .content-part .experience-year {
        margin: 30px 0 0;
    }

    /*Counter Part CSS*/
    .cs-counter .counter-part {
        display: block;
    }
    .cs-counter .counter-part .single-counter {
        margin: 0 0 30px;
        border: none;
    }
    .cs-counter .counter-part .single-counter:last-child {
        margin: 0;
    }

    /*Testimonial Part CSS*/
    .cs-testimonial .testimonial-divider {
        display: block;
    }
    .cs-testimonial .testimonial-divider .left-part {
        margin: 0 0 50px;
    }
    .cs-testimonial .testimonial-divider .right-part {
        max-width: unset;
    }



}

/* Large Layout: Min 992px. */
@media only screen and (min-width: 992px) {
    // Sticky Menu CSS

    .menu-bar.menu-sticky.sticky {
        left: 0;
        margin: auto;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 0 60px 0 rgba(0,0,0,.07);
        z-index: 9999;
        animation: fadeInDown .3s ease-in-out 0s 1 normal none running;
        -webkit-box-shadow: 0 10px 15px rgba(25,25,25,.1);
        background: var(--title-color);
        border: none;
        z-index: 999;
    }

    .cs-header .menu-bar.menu-sticky.sticky .menu-part .cs-main-menu .nav-menu  > li,
    .cs-header .menu-bar.menu-sticky.sticky .menu-part .cs-main-menu .social-part .social-icon li,
    .cs-header .menu-bar.menu-sticky.sticky .menu-part .cs-main-menu .social-part .searchbar a {
        height: 100px;
        line-height: 100px;
    }
}

/* Medium Layout: Max 991px. */
@media only screen and (max-width: 991px) {
    .cs-container {
        max-width: 720px;
    }
    .md-pb-50 {
        padding-bottom: 50px !important;
    }
    .md-pb-75 {
        padding-bottom: 75px !important;
    }

    .sec-title .title {
        font-size: 40px;
    }

    .slick-arrow {
        display: none !important;
    }

    /*Header Part CSS*/
    .cs-header .menu-bar .logo-part,
    .cs-header .menu-bar .contact-part {
        display: none;
    }
    .cs-header .menu-bar,
    .cs-header .menu-bar .menu-part {
        border: none;
    }

    /*Mobile Menu Part*/
    .mobile-menu-part {
        display: flex !important;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu {
        width: 100%;
        padding: 25px;
        background: var(--white-color);
        height: 0;
        visibility: hidden;
        transition: var(--transition);
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li {
        display: block;
        height: 50px;
        line-height: 50px;
        margin: 0;
        opacity: 0;
        visibility: hidden;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li a {
        display: block;
        text-transform: uppercase;
        color: var(--title-color);
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu.menu-open {
        display: block !important;
        height: auto;
        visibility: visible;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu.menu-open li {
        opacity: 1;
        visibility: visible;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li .sub-menu {
        width: 100%;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.24);
        height: 0;
        visibility: hidden;
        transition: var(--transition);
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li:hover .sub-menu {
        visibility: hidden;
        height: 0;
        opacity: 0;
        transform: translateY(15px);
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li .sub-menu.sub-menu-open {
        display: block !important;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    .cs-header .menu-bar .menu-part .cs-main-menu .nav-menu li .sub-menu li a {
        padding-left: 20px;
    }


    /*Banner Part CSS*/
    .cs-banner .slider-part .single-slide {
        padding: 200px 0 150px;
    }
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-heading {
        font-size: 60px;
        line-height: 70px;
    }

    /*Experience Part CSS*/
    .cs-experience {
        padding: 70px 0;
    }
    .cs-experience .experience-part {
        display: block;
    }
    .cs-experience .experience-part .single-experience {
        margin: 0 0 30px;
    }
    .cs-experience .experience-part .single-experience:last-child {
        margin-bottom: 0;
    }

    /*Client Part CSS*/
    .client-part {
        padding-top: 50px;
    }
    .client-part .client-list {
        padding: 0;
    }

    /*About Part CSS*/
    .cs-about {
        padding: 80px 0;
    }
    .cs-about .about-top-part {
        display: block;
    }
    .cs-about .about-top-part .img-part {
        margin: 0 0 50px;
    }
    .cs-about .about-top-part .img-part img {
        max-width: unset;
    }
    .cs-about .about-top-part .content-part .about-text .title {
        font-size: 40px;
        line-height: 1.3;
        margin-bottom: 25px;
    }
    .cs-about .about-top-part .content-part .about-text {
        margin-bottom: 50px;
    }
    .cs-about .about-top-part .content-part .contact-part {
        margin-top: 50px;
    }

    /*Service Part CSS*/
    .service-part {
        position: unset;
        padding: 80px 0 70px;
    }
    .service-part .single-service {
        display: block;
        padding: 35px;
    }
    .service-part .single-service .list-number {
        margin: 0 0 20px;
    }
    .service-part .single-service .service-content .title {
        font-size: 22px;
        line-height: 1.4;
    }

    /*Case Study Part CSS*/
    .cs-case-study {
        padding: 0 0 80px;
    }
    .cs-case-study .case-study-part {
        display: block;
    }
    .cs-case-study .case-study-part .single-case-study {
        margin: 0 0 30px;
    }
    .cs-case-study .case-study-part .single-case-study:last-child {
        margin: 0;
    }

    /*CTA Part CSS*/
    .cs-cta {
        padding: 70px 0 80px;
    }
    .cs-cta .cta-part .title {
        font-size: 50px;
        line-height: 60px;
    }

    /*Faq Part CSS*/
    .cs-faq {
        padding: 70px 0 80px;
    }
    .cs-faq .faq-section-part {
        display: block;
    }
    .cs-faq .faq-section-part .faq-part {
        margin: 0 0 50px;
    }
    .cs-faq .faq-section-part .faq-content-part .content-part {
        margin-top: 30px;
    }
    .cs-faq .faq-section-part .faq-content-part .content-part .experience-year {
        padding: 30px 60px;
    }

    /*Testimonial Part CSS*/
    .cs-testimonial {
        padding: 70px 0 110px;
    }

    /*Counter Part CSS*/
    .cs-counter {
        padding: 80px 0 70px;
    }

    /*Tab Part CSS*/
    .cs-business-tab .cs-tab-part .cs-business-nav {
        margin-top: 80px;
    }
    .cs-business-tab .cs-tab-part .cs-business-nav .react-tabs__tab button {
        padding: 30px;
    }
    .cs-business-tab .cs-tab-part .cs-business-content .single-tab-area .content-area {
        display: block;
    }
    .cs-business-tab .cs-tab-part .cs-business-content .single-tab-area .content-area .content-service {
        padding: 0;
        margin: 50px 0 25px;
        border: none;
    }
    .cs-business-tab .cs-tab-part .cs-business-content .single-tab-area .content-area .content-text {
        padding: 0;
        margin: 0 0 25px;
    }
    .cs-business-tab .cs-tab-part .cs-business-content .single-tab-area .content-area .content-text .desc {
        margin-bottom: 30px;
    }
    .cs-business-tab .cs-tab-part .cs-business-content .single-tab-area .content-area .content-img {
        margin: 0 0 80px;
    }

    /*Footer Part CSS*/
    .cs-footer {
        padding: 70px 0;
    }
    .cs-footer .cs-footer-widget {
        display: block;
    }
    .cs-footer .cs-footer-widget .single-widget {
        padding: 0 0 30px;
    }
    .cs-footer .cs-footer-widget .single-widget .cs-footer-logo {
        margin-bottom: 30px;
    }
    .cs-footer .cs-footer-widget .single-widget .cs-footer-desc {
        max-width: 500px;
    }
    .cs-footer .cs-footer-widget .single-widget .cs-widget-title{
        margin-bottom: 20px;
    }
    .cs-footer .cs-footer-widget .cs-widget-address {
        max-width: unset;
    }
    .cs-footer .cs-footer-widget .cs-widget-links ul {
        float: unset;
        margin: 0;
    }
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part {
        max-width: 500px;
    }
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part .newsletter-subscribe input[type="email"] {
        max-width: unset;
    }
    .cs-footer .cs-footer-widget .single-widget:last-child {
        padding: 0;
    }
    .cs-footer .cs-copyright {
        margin-top: 50px;
    }


}

/* Mobile Layout: 767px. */
@media only screen and (max-width: 767px) {
    .cs-container {
        max-width: 540px;
    }
    .sec-title .title {
        font-size: 35px;
        margin-bottom: 5px;
    }

    .btn {
        height: 60px;
        line-height: 60px;
        padding: 0 30px;
        font-size: 16px;
    }

    /*Banner Part CSS*/
    .cs-banner .slider-part .single-slide {
        padding: 175px 0 120px;
    }
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-heading {
        font-size: 60px;
        line-height: 70px;
    }

    /*Service Part CSS*/
    .service-part {
        display: block;
    }

    /*CTA Part CSS*/
    .cs-cta .cta-part .title {
        font-size: 45px;
        line-height: 55px;
    }

    /*Testimonial Part CSS*/
    .cs-testimonial .sec-title .title {
        font-size: 35px;
        line-height: 45px;
    }
    .cs-testimonial .testimonial-divider .left-part {
        margin: 0 0 30px;
    }
    .cs-testimonial .cs-testimonial-slider .single-testimonial {
        padding: 40px 30px;
    }
    .cs-testimonial .cs-testimonial-slider .single-testimonial .testi-photo {
        position: unset;
        margin-top: 10px;
    }

    /*Tab Part CSS*/
    .cs-business-tab .cs-tab-part .cs-business-nav {
        display: block;
    }
    .cs-business-tab .cs-tab-part .cs-business-nav .react-tabs__tab {
        width: 100%;
        margin: 0;
    }
    .cs-business-tab .cs-tab-part .cs-business-nav .react-tabs__tab button {
        padding: 20px;
        border-bottom: 1px solid #e6e9ef;
    }
    .cs-business-tab .cs-tab-part .cs-business-nav .react-tabs__tab:last-child button {
        border: none;
    }

    /*Footer Part CSS*/
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part {
        padding: 30px 20px;
    }
    .cs-footer .cs-footer-widget .cs-widget-newsletter .newsletter-part .newsletter-text {
        line-height: 1.3;
        margin-bottom: 15px;
    }
    .cs-footer .cs-copyright .copyright-text {
        float: unset;
        margin: 0 0 20px;
    }
    .cs-footer .cs-copyright .cs-social-profile {
        float: unset;
    }
}

/* Small Device : 600px. */
@media only screen and (max-width: 600px) {
    
}

/* Small Device : 575px. */
@media only screen and (max-width: 575px) {
    .sec-title .title {
        font-size: 32px;
    }

    /*Banner Part CSS*/
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-sub-heading {
        padding: 10px 15px;
        font-size: 16px;
    }
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-heading {
        font-size: 50px;
        line-height: 60px;
    }
    .cs-banner .slider-part .single-slide {
        padding: 150px 0 100px;
    }
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-heading {
        margin: 30px 0;
    }


    /*Experience Part CSS*/
    .cs-experience .experience-part .single-experience .content-part {
        margin: 0;
    }
    
    /*Client Part CSS*/
    .client-part .client-title {
        width: 100%;
        text-align: center;
    }

    /*About Part CSS*/
    .cs-about .about-top-part .content-part .contact-part {
        display: block;
    }
    .cs-about .about-top-part .content-part .contact-part .icon-part {
        margin: 0 0 20px;
    }

    /*Case Study Part CSS*/
    .cs-case-study .case-study-part .single-case-study .content-part .title {
        font-size: 22px;
        line-height: 1.4;
    }

    /*CTA Part CSS*/
    .cs-cta .cta-part .title {
        font-size: 40px;
        line-height: 50px;
    }
}

/* Small Device : 480px. */
@media only screen and (max-width: 480px) {
    .sec-title .title {
        font-size: 27px;
    }

    /*Banner Part CSS*/
    .cs-banner .slider-part .single-slide .cs-slide-content .cs-slide-heading {
        font-size: 40px;
        line-height: 50px;
    }
    .btn {
        height: 50px;
        line-height: 50px;
        padding: 0 25px;
    }

    /*Experience Part CSS*/
    .cs-experience .experience-part .single-experience {
        padding: 50px 30px 75px 30px;
    }
    .cs-experience .experience-part .single-experience .content-part {
        margin-right: 15px;
    }

    /*CTA Part CSS*/
    .cs-cta .cta-part .title {
        font-size: 30px;
        line-height: 40px;
    }

    /*Faq Part CSS*/
    .cs-faq .faq-section-part .faq-part .accordion__item .accordion__heading .accordion__button {
        padding: 0 15px;
        font-size: 13px;
    }
    .cs-faq .faq-section-part .faq-part .accordion__item .accordion__heading .accordion__button[aria-expanded="true"]::before,
    .cs-faq .faq-section-part .faq-part .accordion__item .accordion__heading .accordion__button[aria-expanded="false"]::before {
        font-size: 20px;
        right: 10px;
    }
    .cs-faq .faq-section-part .faq-part .accordion__item .accordion__panel .accodion-body {
        font-size: 16px;
    }

    /*Testimonial Part CSS*/
    .cs-testimonial .sec-title .title {
        font-size: 30px;
        line-height: 40px;
    }
    
    /*Tab Part CSS*/
    .cs-business-tab .cs-tab-part .cs-business-nav .react-tabs__tab button {
        padding: 16px;
    }
}

